MONGODB_URL=mongodb+srv://user:<db_password>@cluster0.lvzmnkm.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=YOUR_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=YOUR_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUDNAME=dvfgddfd4
CLOUDINARY_API_KEY=7733643534wtw4rwetr
CLOUDINARY_API_SECRET=r43t4334434ffgf